*{
  margin: 0;
  padding: 0;
}

*, *::before *::after {
  box-sizing: border-box;
}

/* mobile first */

html, body {
  height: 100%;
  width: 100%;
  font-family: Lato, sans-serif;
}

/* paleta de colores:
amarillo #FFBD33
naranja oscuro #D8320D
verde #66AB49
marron violaceo #3B1F2B
  */

header {
  text-align: center;
  font-family: Libre Baskerville, serif;
  color: #3B1F2B;
  background: #FFBD33;
}

#logoIndex{
  width: 150px;
}

/* Comienza menu */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 8vh;
}

.titulo1
{
text-align: center;
color:#D8320D ;

}
@media screen and (min-width: 768px) {
  .main-menu{
    flex-direction: row;
  }
}

.ham {
  display: none;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.ham span {
  display: block;
  height: 3px;
  width: 28px;
  margin: 10px auto;
  border-radius: 2px;
}

.enlaces-menu{
  display: flex;
  padding: 0;
}

.enlaces-menu li{
  padding: 0 15px;
  list-style-type: none;
}

.enlaces-menu li a{
  text-decoration: none;
  font-size: 1.8 rem;
  font-weight: 600;
  background-color: white;
  color: black;
  transition: 0.3 s;
}

.enlaces-menu li a:hover {
  color: white;
  text-anchor: bold;
  background-color: #D8320D;
}

.br-1 .br-2 .br-3 {
  color: #3B1F2B;
}

/* MENU RESPONSIVE*/
@media (max-width: 768px){
  body {
    overflow: hidden;
  }
  ham {
    display: block;
    position: absolute;
    top: 15px;
    right: 25px;
    transition: 0.2s 0.1s;
  }
  .ham:hover {
    transform: rotate(360deg);
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 0;
    /* otra posibilidad
    padding-top: 25px;
    padding-bottom: 25px;
    */
  }
  .enlaces_menu {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;
    opacity: 0;
  }
  .enlaces-menu li {
    width: 100%;
    text-align: center;
    padding: 20px;
  }

  @keyframes muestraMenu {
    from{opacity: 0;}
    to{opacity: 1;}
  }

  .enlaces-menu.activado {
    display: flex;
    animation: muestraMenu 350ms ease-in-out both;
  }

  .br-1.animado {
    transform: rotate(-45deg) translate(-10px, 8px);
  }
  .br-2.animado {
    opacity: 0;
  }
  .br-3.animado {
    transform: rotate(45deg) translate(-10px, -8px);
  }
}

/* Termina menu*/



.imagenPrincipal {
  width: 70%;
  image-orientation: center;
  background-attachment: fixed;
  margin: 20px;
  padding: 15px;
   
}

.centro {
  background-attachment: fixed;
  background-size: contain;
  text-align: center;
  
}

footer {
  text-align:center;
  padding: 3px;
  background-color: #FFBD33;
  color: black;
}

.iconos {
  width: 30px;
  height: 30px;
}

fieldset {
  border: none;
}

a:active {
  border: 2px solid;
  padding: 2px;
}



/* Imagenes de los productos */

.conteiner, .emprendedores
{
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.prod-img
{
width: 210px;
height: 250px;
border-radius: 20px;
}


.caja{
  box-shadow: 2px 2px 5px #999;
  margin: 20px ;
  padding:10px;

}
.caja p
{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
 .botones-prod {
    border: 0px solid#D8320D; 
    padding: 11px; 
    background-color:#D8320D; 
    color: #ffffff; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family:Lato, sans-serif ; 
    border-radius: 50px; 
    font-size: 11px
    }
/* Terminan los productos */
h2{
  text-align: center;
}
p quienes{
  font-style: italic;
  line-height: 25px;
  font-size: 25px;
  display: inline;
}

.titulo{
  text-align: center;
}
.fondomenu{
  display: block;
}

a{
  text-decoration: none;
  padding: 15px;
  color: black;
  font-weight: bold;
  display: block;
  text-align: center;
  
}
/* contactos */
.contactos h3 
{

  text-align: center;
  box-shadow: 2px 2px 4px #FFBD33;

}
.mapa
{
align-items: center;
}
.formulario
{
  justify-content: center;
  
box-shadow: 2px 2px 5px #D8320D;
}
.p1
{
  color: #D8320D;
}



.titulo1
{
text-align: center;
color:#D8320D ;

}


/* termina contacto */
/* como comprar */
#listamenu h2
{
text-align:center; 
}
.img-pasos
{
    width: 220px;
    height: 200px;
   font-family:Lato, sans-serif ; 
}
#listamenu li
{
font-size: 17px;
color: black;
}
/*  Termina como comprar */

/* Responsive*/
 @media (min-width:480px){
  #menu
   {
     height: 150px;
    padding-bottom: 10%;
}

/* como comprar */
#listamenu h2
{
text-align:center; 
}
.img-pasos
{
  padding:2px ;
    width: 220px;
    height: 200px;
   font-family:Lato, sans-serif ; 
}
#listamenu li
{
  
font-size: 20px;
color: black;
}
 #listamenu ol {
   border: 2px black;
display: grid;
  grid-template-columns:33%  33% 33%;
grid-template-rows: repeat(3, 1fr)

}
/*  Termina como comprar */

}
 @media (min-width:768px){

    .contenedora{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 30px;
    }
  
  }

@media (min-width:1200px){
    
    .contenedora{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-content: center;
        }
}

  
